################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ColegioAPI/FileContentIndex/ca821c65-e6a7-433e-8960-6702b0417cbf.vsidx
